body {
	display: flex;
	flex-direction: column;
}

form {
	display: flex;
	flex-direction: column;
	width: 400px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	padding: 1.25rem 0.75rem 0.62rem 1.25rem;
}

form label {
	margin: 0 0 0.19rem 0;
	font-weight: 700;
}

form label span {
	color: #ff0000;
}

.hidden-input-id {
	width: 0;
	height: 0;
	font: 0;
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0;
}

form input {
	border: 1px solid #bebebe;
	padding: 0.44rem;
	margin: 0 0 0.62rem 0;
	transition: all 0.3s ease-in-out;
}

form input:focus {
	box-shadow: 0 0 8px #88d5e9;
	border: 1px solid #88d5e9;
}

form button {
	padding: 0.94rem 0.5rem;
	background-color: #4b99ad;
	color: #ffffff;
	cursor: pointer;
}

form button:hover {
	background-color: #4691a4;
	box-shadow: none;
}

table {
	width: 400px;
}

table, th, td {
	border: 1px solid black;
	border-collapse: collapse;
}

th {
	background-color: #4caf50;
	color: #ffffff;
}