body {
	/* top | sides | bottom */
	padding: 0 0 8%;
	background-color: #76b852;
	background: linear-gradient(to left, #76b852, #8DC26F);
}

form {
	display: flex;
	flex-direction: column;
	width: 360px;
	padding: 2.81rem;
	background-color: #ffffff;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0
		rgba(0, 0, 0, 0.24);
	text-align: center;
}

form input {
	background-color: #f2f2f2;
	/* top | sides | bottom */
	margin: 0 0 15px;
	padding: 0.93rem;
	font-size: 0.87em;
}

form button {
	padding: 0.93rem;
	background-color: #4caf50;
	color: #ffffff;
	text-transform: uppercase;
	transition: all 0.3 ease;
	cursor: pointer;
}

form button:hover, form button:active, form button:focus {
	background: #43A047;
}